@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Gabarito', Sans-Serif;
}

table thead {
  border: 1px solid #cc0000;
  padding: 2px 3px;
}

table tbody > * {
  border: 1px solid #999;
  padding: 2px 3px;
  color: #444
}

table tr > * {
  border: 1px solid #999;
  padding: 2px 3px;
}

/*table th {
  background: red;
  color: white;
}
*/
