@tailwind base;
@tailwind components;
@tailwind utilities;



* {
 /* font-family: 'Gabarito', Sans-Serif;*/
  font-family: "Poppins", Sans-Serif;
}

table thead {
  border: 1px solid #cc0000;
  padding: 2px 3px;
}

table tbody > * {
  border: 1px solid #999;
  padding: 2px 3px;
  color: #444
}

table tr > * {
  border: 1px solid #999;
  padding: 2px 3px;
}


.text-red-500 {
  color: #ff0000;
}
.group:hover .group-hover:text-white {
  color: white;
}
.btn-outline {
  border: 1px solid #e4e4e7; /* zinc-200 hex value */
}
.btn-outline:hover {
  border-color: white;
  background-color: #ff0000;
  color: white;
}
